In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("data.csv")

In [3]:
data.head()

,Unnamed: 0,country,id,continent,year,happiness_rating,gdp_per_capita,social_support,life_expectancy,freedom,generosity,corruption
0,0,Afghanistan,AF,Asia,2011,3.832,7.620,0.521,51.92,0.496,0.162,0.731
1,1,Afghanistan,AF,Asia,2012,3.783,7.705,0.521,52.24,0.531,0.236,0.776
2,2,Afghanistan,AF,Asia,2013,3.572,7.725,0.484,52.56,0.578,0.061,0.823
3,3,Afghanistan,AF,Asia,2014,3.131,7.718,0.526,52.88,0.509,0.104,0.871
4,4,Afghanistan,AF,Asia,2015,3.983,7.702,0.529,53.20,0.389,0.080,0.881

In [4]:
data = data.drop(columns=['Unnamed: 0', 'id', 'continent', ])

In [5]:

data = data.round({'happiness_rating': 3, 'gdp_per_capita': 3, 'social_support': 3, 'life_expectancy': 2, 'freedom': 3, 'generosity': 3, 'corruption': 3})

In [6]:
data.head()

,country,year,happiness_rating,gdp_per_capita,social_support,life_expectancy,freedom,generosity,corruption
0,Afghanistan,2011,3.832,7.620,0.521,51.92,0.496,0.162,0.731
1,Afghanistan,2012,3.783,7.705,0.521,52.24,0.531,0.236,0.776
2,Afghanistan,2013,3.572,7.725,0.484,52.56,0.578,0.061,0.823
3,Afghanistan,2014,3.131,7.718,0.526,52.88,0.509,0.104,0.871
4,Afghanistan,2015,3.983,7.702,0.529,53.20,0.389,0.080,0.881

In [7]:
data.to_csv('data_filtered.csv', index=False)